body {
    background-color: #f2e8cf;
}
h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #BC4749;
    font-size: 64px;
    width: auto;
}
figure {
    text-align: center;
}